@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
body {
    font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Satisfy", sans-serif;
}

#topbar {
    height: 50px;
    justify-content: center;
    transition: all 0.5s;
}

.topbar-scrolled {
    top: -50px !important;
}

#topbar i {
    color: #ffb03b;
    line-height: 0;
    font-style: normal;
}

#topbar i span {
    padding-left: 5px;
    color: white;
}

#header a {
    color: white;
}

#header {
    top: 50px;
    height: 70px;
    /* z-index: 997; */
    transition: all 0.5s;
    padding: 10px 0;
}

#header .logo h1 a {
    text-decoration: none;
}

#header .logo h1 {
    font-family: "Satisfy", sans-serif;
    font-size: 28px;
    margin: 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 3px;
}

.navbar {
    padding: 0;
}

@media (max-width: 991px) {
    .navbar ul {
        display: none !important;
    }
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.mobile-nav-toggle {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

.navbar li {
    position: relative;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }
}

.navbar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 24px;
    font-size: 15px;
    font-weight: 500;
    /* color: white; */
    /* white-space: nowrap; */
    transition: 0.3s;
}

.navbar a i, .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar-scrolled {
    top: 0 !important;
    background: rgba(26, 24, 22, 0.85);
}

@media (max-width: 992px) {
    .book-a-table-btn {
        margin: 0 15px 0 auto;
        padding: 8px 20px;
        letter-spacing: 1px;
    }
}

.book-a-table-btn {
    text-decoration: none;
    background: #ffb03b;
    border-radius: 50px;
    margin: 0px 0 0 20px;
    padding: 10px 25px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.3s;
    white-space: nowrap;
}

#hero .carousel-item {
    width: 100%;
    height: 100vh;
    position: relative;
    color: white;
}

#hero .carousel-item::before {
    content: '';
    background-color: rgba(12, 11, 10, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#hero .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .carousel-content {
    text-align: center;
}

#hero h2 {
    font-family: "Satisfy", sans-serif;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;
}

#hero p {
    /* font-family: "Poppins", sans-serif; */
    padding: 20px;
    width: 50%;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    margin: 0 auto 30px auto;
}

@media (min-width: 1024px) {
    #hero p {
        width: 50%;
    }
}

#hero .btn-menu, #hero .btn-book {
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 12px 30px;
    margin: 0 10px;
    line-height: 1;
    border: 2px solid #ffb03b;
    display: inline-block;
    border-radius: 50px;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
    animation-delay: 0.8s;
    /*
    -webkit-animation-delay: 0.8s;
    */
}

#hero .btn-menu:hover, #hero .btn-book:hover {
    background: #ffb03b;
    color: #fff;
}

.video-box {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 400px;
    position: relative;
}

.play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(#ffb03b 50%, rgba(255, 176, 59, 0.4) 52%);
    border-radius: 50%;
    display: block;
    position: absolute;
    left: calc(50% - 47px);
    top: calc(50% - 47px);
    overflow: hidden;
}

.about .play-btn::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.about .play-btn::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate-btn 2s;
    animation: pulsate-btn 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 2px solid rgba(255, 176, 59, 0.7);
    background: rgba(198, 16, 0, 0);
}

@keyframes pulsate-btn {
    from {
        transform: scale(0);
    }
}

/* .about .play-btn:hover::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    -webkit-animation: none;
    animation: none;
    border-radius: 0;
} */

.about .play-btn:hover::after {
    border-left: 15px solid #ffb03b;
    transform: scale(20);
}

.about {
    background: #fffaf3;
    padding: 60px 0;
}

@media (max-width: 1024px) {
    .about .content, .about .accordion-list {
        padding-left: 0;
        padding-right: 0;
    }
}

.about .content {
    padding: 0 80px;
}

.about .content p {
    font-size: 15px;
    color: #848484;
}

.about .content h3 {
    font-weight: 400;
    font-size: 34px;
    color: #5f5950;
}

.about .content ul {
    list-style: none;
    padding: 0;
}

.about .content ul li {
    position: relative;
    padding-left: 26px;
    color: #444444;
}

.about .content ul i {
    font-size: 20px;
    color: #ffb03b;
    position: absolute;
    left: 0;
    top: 2px;
}
